<div>


</div>

<div class="img"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="https://cdn.pixabay.com/photo/2019/02/21/19/00/restaurant-4011989_960_720.jpg" alt="" srcset="">
        </div>
        <div class="col">
            <h1>About Us</h1>
            <p class="sub-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim perferendis saepe nisi
                recusandae! Voluptatibus totam mollitia repudiandae tempora cupiditate velit!</p><br />
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, libero? Voluptatibus quae necessitatibus
                harum qui aliquid illum autem, explicabo, corrupti obcaecati deleniti temporibus repellat, impedit
                accusamus id odit. Natus, fuga!</p><br />
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam illo impedit non rem optio accusantium
                exercitationem adipisci nemo? Vitae iste quia blanditiis deleniti labore delectus quae fugit neque eos
                itaque aspernatur, tempora repellendus. Voluptatibus nobis voluptas, quam sunt quod sit quidem enim
                beatae molestias doloremque illo fugiat velit? Quidem possimus illum earum? Ad eaque eveniet accusantium
                quis, repellendus placeat pariatur qui culpa nisi fugit incidunt nostrum reiciendis ipsam soluta
                tempora? Suscipit nisi nostrum accusantium quaerat necessitatibus aliquam sunt illo earum, repudiandae
                quod fuga labore mollitia voluptate rerum enim officia optio perferendis eligendi cupiditate ducimus
                facere ut reprehenderit, vel obcaecati. Saepe.</p>
        </div>
    </div>
</div>