<div class="container">
    <h3>Your's to Choose</h3><br /> <hr>
    <div class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 justify-content-around g-4" id="cardId">
        <div *ngFor="let item of items">
        <div class="card" style="width: 18rem; box-shadow: 2px 2px 2px 2px gray; ">
            <div class="card-header bg-white">
                  {{item.name}}
            </div>
            <img src="{{item.img}}" class="card-img-top img-thumbnail">
            <div class="card-body">
            <h5 class="card-title text-center">{{item.description}}</h5>
            <p class="card-text text-center"></p>
            </div>
            <ul class="list-group list-group-flush">
            <div class="list-group-item">€{{item.price}}</div>
            </ul>
            <div *ngIf="item.availability === true" class="card-body d-flex flex-row gap-1">
                <button type="button" class="btn btn-success btn-sm" (click)="orderItem(item.id)"><i class="bi-trash m-1"></i>Order</button>
                <button type="button" class="btn btn-primary  btn-sm" routerLink="/details/{{item.id}}"><i class="bi-check-circle m-1"></i>Details</button>
            </div>
            <div *ngIf="item.availability === false" class="card-body d-flex flex-row gap-1">
                <p class="text-danger">The product is not aviable</p>
            </div>
        </div>
        </div>
    </div>
</div>
