<div class="bg">
    <h1>Ristorante Il Tonno Scandale</h1>
    <p>Delicious Food</p>
    <button id="btn1" type="button" class="btn btn-dark">MENU</button><span>' '</span><button id="btn2" type="button"
        class="btn btn-dark">Book a Table</button>
</div>

<p></p>

<div class="card w-100 mt-6">
    <div class="card-img-top d-flex align-items-center bg-light">
        <div>
            <img class="img-fluid" src="https://cdn.pixabay.com/photo/2019/02/21/19/00/restaurant-4011989_960_720.jpg">
        </div>
        <div class="col  m-4">
            <h1 style="font-family: Great Vibes;" class="fs-1"> Come and relax with us</h1><br /><br />

            <p> Welcome to Il Tonno Scandale, we are proud of our freshly prepared food, warm
                welcome and relaxing atmosphere. It’s the ideal place for those that seek genuine value, whether for a
                family meal, a relaxing drink or a bite to eat with friends.</p>

            Playland American Italiano Family Restaurant is a newly established Restaurant located on the eastern coast
            of Guyana in South America. It is owned and operated by an American trained Chef with over 25 years of
            culinary experience.
            All our meals are prepared in the traditional uncompromising style, with fresh imported ingredients and
            cooked to perfection.

            We have available a wide assortment of local beverages and a list of hand selected wines and champagne from
            around the world to compliment our unique cuisine. we know that at times you may have that special bottle
            that you would like to share with friends and family to celebrate a special occasion, bring it along with
            you, your own wines are welcomed.

            We cater for the whole family, so you can have a relaxing meal while your kids have fun with our Playland
            bouncy castle and trampoline, cartoon characters like Dora, Elmo, Barney and SpongeBob, latest video games
            like Xbox, Playstation3, Wii or watch a movie in our 25 seat HD 3D Theatre. You can also enjoy free phone
            calls( local) and high speed internet.
            Enjoy your meal indoors, on our upstairs patio, relax by our bar or outdoor and enjoy the cool Atlantic
            breeze.
            Ample parking is also available
            <br /><br />
            All our meals are prepared in the traditional uncompromising style, with fresh imported ingredients and
            cooked to perfection. We have available a wide assortment of local beverages and a list of hand selected
            wines and champagne from around the world to compliment our unique cuisine. we know that at times you may
            have that special bottle that you would like to share with friends and family to celebrate a special
            occasion, bring it along with you, your own wines are welcomed. We cater for the whole family, so you can
            have a relaxing meal while your kids have fun with our Playland bouncy castle and trampoline, cartoon
            characters like Dora, Elmo, Barney and SpongeBob, latest video games like Xbox, Playstation3, Wii or watch a
            movie in our 25 seat HD 3D Theatre. You can also enjoy free phone calls( local) and high speed internet.
            Enjoy your meal indoors, on our upstairs patio, relax by our bar or outdoor and enjoy the cool Atlantic
            breeze. Ample parking is also available
        </div>
    </div>

</div>