<div class="bg">
    <h1>Ristorante Il Tonno Scandale</h1>
    <p>Delicious Food</p>
    <button id="btn1" type="button" class="btn btn-dark">MENU</button><span>'  '</span><button id="btn2" type="button" class="btn btn-dark">Book a Table</button>
</div>

<p></p>

<div class="card w-100 mt-6">
    <div class="card-img-top d-flex align-items-center bg-light">
        <div>
            <img class="img-fluid" src="https://cdn.pixabay.com/photo/2019/02/21/19/00/restaurant-4011989_960_720.jpg">
        </div>
        <p class="col p-2 m-0">orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>

</div>
